<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/fragment :: dynamic(~{::main})}">

<body>
    <main th:object="${item}" class="container-fluid">
        <div class="category-title">
            <div>Thông tin: </div>
            <div class="category-name">[(*{category.name})].</div>
        </div>
        <div class="row">
            <article class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 img-detail mr-5">
                        <img class="img-1" th:src="@{|/assets/images/*{image1}|}">
                        <div class="row img-child">
                            <div class="col-sm-4" th:if="${item.image2}">
                                <img class="img-1" th:src="@{|/assets/images/*{image2}|}">
                            </div>
                            <div class="col-sm-4" th:if="${item.image3}">
                                <img class="img-1" th:src="@{|/assets/images/*{image3}|}">
                            </div>
                            <div class="col-sm-4" th:if="${item.image4}">
                                <img class="img-1" th:src="@{|/assets/images/*{image4}|}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <fieldset class="list_item_detail">
                            <li>Tên sản phẩm: <label class="category-name">[(*{name})] [(*{radius})].</label></li>
                            <li>Giá tiền: <label class="price">[[*{#numbers.formatInteger(unitPrice, 0,
                                'DEFAULT')}]] <sup>đ</sup></label></li>
                            <li><label class="old_price">[[*{#numbers.formatInteger(oldPrice, 0, 'DEFAULT')}]]
                                <sup>đ</sup></label></li>
                            <li><label class="percent-oldProduct">Tiết kiệm [(*{discount})]%</label></li>
                            <li><span class="badge badge-danger">Thông tin chi tiết </li>
                            <div class="discription">[(*{discription})]</div>
                            <hr>
                            <div class="form-group">
                                <div class="bot mt-2">
                                    <button th:attr="ng-click=@{|cart.add(${item.productId})|}"
                                            class="btn btn-success btn__confirm" id="btn_search">
                                        <i class="fas fa-shopping-cart"></i> <a >Thêm vào giỏ hàng</a>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- ******************************** -->
                <div class="row block__promo">
                    <div class="col-sm-6 policy_list">
                        <img src="/assets/images/doilai.png" alt="">
                        <label class="ml-3">Hư gì đổi nấy 12 tháng tại 3383 siêu thị toàn quốc (miễn phí tháng đầu) <a
                                href="">Xem chi tiết</a></label>
                    </div>
                    <div class="col-sm-6  policy_list">
                        <img src="/assets/images/proted1.png" alt="">
                        <label class="ml-3">Bảo hành chính hãng điện thoại 18 tháng tại các trung tâm bảo hành hãng <a
                                href="">Xem địa chỉ bảo hành</a></label>
                    </div>
                </div>
            </article>
            <aside class="col-sm-4">
                <img style="cursor:pointer" src="https://cdn.tgdd.vn/2023/03/banner/920x230-920x230-7.png"
                    alt="Banner chi tiết đồng hồ (KHÔNG XÓA)" width="100%">
                <div class="block__promo mt-3">
                    <div class="pr-top">
                        <div class="pr-txtb">Khuyến mãi</div>
                        <div class="pr-txt">Giá và khuyến mãi dự kiến áp dụng đến 23:59 | 09/04</div>
                    </div>
                    <div class="divb">
                        <span class="nb">1</span>
                        <p>Giảm 30% khi mua kèm Smartphone (trừ iPhone)</p>
                        <span class="nb">2</span>
                        <p>Giảm 5% gói Bảo hiểm rơi vỡ <a
                                href="https://www.thegioididong.com/tin-tuc/khuyen-mai-den-5-phan-tram-goi-bao-hiem-roi-vo-1512661">(click
                                xem chi tiết)</a></p>
                        <span class="nb">3</span>
                        <p>Nhập mã khuyến mãi giảm tối đa 200.000đ khi thanh toán qua VNPAY-QR<a
                                href="https://www.thegioididong.com/tin-tuc/uu-dai-thanh-toan-vnpay-thang-03-giam-den-2-toi-da-200k-1515064">(click
                                xem chi tiết)</a></p>
                    </div>
                </div>
                <hr>
                <h6><b>Ưu đãi khi thanh toán</b></h6>
                <div class="slideX">
                    <input type="radio" value="" class="pd">
                    <img class="pd" src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/logo/kredivo.jpg" width="50px"
                        alt="Mua trước trả sau">
                    <div class="fl">
                        <label>Mua trước trả sau</label>
                        <label>Giảm <b>5%</b> lên đến <b>1 triệu</b> áp dụng 6,12 tháng</label>
                    </div>
                    <label class="campaign pd">?</label>
                </div>
                <a class="a" th:href="@{/orderHistory/order/checkout}"
                    th:attr="ng-click=@{|cart.add(${item.productId})|}">
                    <div class="btn_buy_now">
                        Mua ngay
                    </div>
                </a>
                <a class="a" href="">
                    <div style="background-color:#2f80ed;" class="btn_buy_now">
                        <div class="txt_tragop">Mua trả góp</div>
                        <div class="txt_duyet">Duyệt hồ sơ trong 5 phút</div>
                    </div>
                </a>
                <div class="callorder">Gọi đặt mua <a class="a">1900 1221</a> (7:30 - 22:00)</div>
            </aside>
        </div>

        <!-- **************************************************************** -->
        <h5>Phụ kiện thường mua cùng: <a class="link_all-item" th:href="@{/product/list?cid=8}">(Xem tất cả sản phẩm)</a></h4>
            <div class="row ml-2">
                <div th:each="item: ${phukien}" class="col-sm-2">
                    <div class="card">
                        <div class="card-body list-item">
                            <div class="gif">
                                <img th:src="@{|/assets/images/${item.hotSale}|}">
                            </div>
                            <a th:href="@{|/product/detail/${item.productId}|}">
                                <img class="imgindex" th:src="@{|/assets/images/${item.image1}|}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{|/product/detail/${item.productId}|}" class="card-title">[(${item.name})]
                                [(${item.radius})]</a>
                            <div class="card-bottom">
                                <div>
                                    <span class="price">[[${#numbers.formatInteger(item.unitPrice, 0,
                                        'POINT')}]] <sup>đ</sup>
                                    </span>
                                </div>
                                <div>
                                    <span class="old_price">[[${#numbers.formatInteger(item.oldPrice, 0,
                                        'POINT')}]] <sup>đ</sup>
                                    </span>
                                    <span class="discount">- [[${item.discount}]]%</span>
                                </div>
                            </div>
                            <div class="card-bot">
                                <div>
                                    <img th:src="|/assets/images/${item.image5}|">
                                </div>
                                <div class="icon__cart-like">
                                    <a th:attr="ng-click=@{|cart.add(${item.productId})|}">
                                        <i class="fa-solid fa-cart-shopping cart-shopping"></i></a>
                                    <a th:href="@{|/favorite/save/${item.productId}|}">
                                        <i class="fa-regular fa-thumbs-up cart-shopping"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************************** -->
            <h5 class="mt-3"><b>Xem thêm sản phẩm cùng loại: </b></h5>
            <div class="row mb-4 ml-2">
                <div th:each="item: *{category.products}" class="col-sm-2">
                    <div class="card">
                        <div class="card-body list-item">
                            <div class="gif">
                                <img th:src="@{|/assets/images/${item.hotSale}|}">
                            </div>
                            <a th:href="@{|/product/detail/${item.productId}|}">
                                <img class="imgindex" th:src="@{|/assets/images/${item.image1}|}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{|/product/detail/${item.productId}|}" class="card-title">[(${item.name})]
                                [(${item.radius})]</a>
                            <div class="card-bottom">
                                <div>
                                    <span class="price">[[${#numbers.formatInteger(item.unitPrice, 0,
                                        'POINT')}]] <sup>đ</sup>
                                    </span>
                                </div>
                                <div>
                                    <span class="old_price">[[${#numbers.formatInteger(item.oldPrice, 0,
                                        'POINT')}]] <sup>đ</sup>
                                    </span>
                                    <span class="discount">- [[${item.discount}]]%</span>
                                </div>
                            </div>
                            <div class="card-bot">
                                <div>
                                    <img th:src="|/assets/images/${item.image5}|">
                                </div>
                                <div>
                                    <a th:attr="ng-click=@{|cart.add(${item.productId})|}">
                                        <i class="fa-solid fa-cart-shopping cart-shopping"></i></a>
                                    <a th:href="@{|/favorite/save/${item.productId}|}">
                                        <i class="fa-regular fa-thumbs-up cart-shopping"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5><b>Xem thêm các sản phẩm khác: </b></h5>
            <div class="row ml-2">
                <div th:each="item, itemIndex: ${items}" th:if="${itemIndex.index} &lt; 6" class="col-sm-2">
                    <div class="card">
                        <div class="card-body list-item">
                            <div class="gif">
                                <img th:src="@{|/assets/images/${item.hotSale}|}">
                            </div>
                            <a th:href="@{|/product/detail/${item.productId}|}">
                                <img class="imgindex" th:src="@{|/assets/images/${item.image1}|}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{|/product/detail/${item.productId}|}" class="card-title">[(${item.name})]
                                [(${item.radius})]</a>
                            <div class="card-bottom">
                                <div>
                                    <span class="price">[[${#numbers.formatInteger(item.unitPrice, 0, 'POINT')}]]
                                        <sup>đ</sup></span>
                                </div>
                                <div>
                                    <span class="old_price">[[${#numbers.formatInteger(item.oldPrice, 0, 'POINT')}]]
                                        <sup>đ</sup></span>
                                    <span class="discount">- [[${item.discount}]]%</span>
                                </div>
                            </div>
                            <div class="card-bot">
                                <div>
                                    <img th:src="|/assets/images/${item.image5}|">
                                </div>
                                <div class="icon__cart-like">
                                    <a th:attr="ng-click=@{|cart.add(${item.productId})|}">
                                        <i class="fa-solid fa-cart-shopping cart-shopping"></i>
                                    </a>
                                    <a th:href="@{|/favorite/save/${item.productId}|}">
                                        <i class="fa-regular fa-thumbs-up cart-shopping"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <a th:href="@{|/|}" class="btn btn-success dropdown-toggle" id="btn_search">
                    Xem thêm [[${totalItemss} - ${totalItems} - 6]] sản phẩm</a>
            </div>
            <hr>
            <!-- ******************************** -->
            <div id="disqus_thread"></div>
            <script>
                window.addEventListener('message', receiveMessage, false);
                function receiveMessage(event) {
                    if (event.data) {
                        var msg;
                        try {
                            msg = JSON.parse(event.data);
                        } catch (err) {
                            // Do nothing
                        }
                        if (!msg) {
                            return false;
                        }
                        if (msg.name === 'resize' || msg.name === 'rendered') {
                            window.parent.postMessage({
                                sentinel: 'amp',
                                type: 'embed-size',
                                height: msg.data.height
                            }, '*');
                        }
                    }
                }
            </script>
            <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    </main>
</body>

</html>