<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
	<main class="container-fluid ml-3">
            <div class="row mt-2">
				<div class="col-sm-8">
					<div class="status_cart">
						<a th:href=@{/orderHistory/list}><label id="btn_search"
																class="status_cart_item"> Tất Cả ([[${totalSize}]])</label></a>
						<a th:href=@{/orderHistory/confirmation}><label id="btn_search"
																		class="status_cart_item">
							<i class="fa-solid fa-circle-check"></i> Đã Xác Nhận (<label class="text_totalSizeOrder">[[${totalSizeStatus_confirmation}]]</label>)</label></a>
						<a th:href=@{/orderHistory/transported}><label id="btn_search"
																	   class="status_cart_item"><i class="fa-solid fa-truck"></i>
							Đag vận chuyển (<label class="text_totalSizeOrder">[[${totalSizeStatus_transported}]]</label>)</label></a>
						<a th:href=@{/orderHistory/delivered}><label id="btn_search"
																	 class="status_cart_item"><i class="fa-solid fa-face-smile"></i>
							Đã Giao Hàng (<label class="text_totalSizeOrder">[[${totalSizeStatus_delivered}]]</label>)</label></a>
						<a th:href=@{/orderHistory/cancel}><label id="btn_search"
																  class="status_cart_item"><i class="fa-solid fa-road"></i>
							Đã Huỷ (<label class="text_totalSizeOrder">[[${totalSizeStatus_cancel}]]</label>)</label></a>
					</div>
				</div>
				<div class="col-sm-4">
					<form th:action="@{/orderHistory/list}">
						<div class="form-inline float-right">
							<input type="text" class="form-control" name="name" id="name"
								aria-describedby="helpId" placeholder="Tìm kiếm">
							<button class="btn btn-outline-primary ml-2"><i class="fa fa-search"></i></button>
						</div>
					</form>
				</div>
            </div>
			<!-- **************************************** -->
		
		<div class="card mt-2">
			<table class="table table-hover">
			<thead class="bg-light ">
				<tr>
					<th>Mã đơn</th>
					<th>Mã SP</th>
					<th>Ngày đặt hàng</th>
					<th>SDT </th>
					<th>Email</th>
					<th>Địa chỉ</th>
					<th>Giá tiền</th>
					<th>Trạng thái đơn hàng</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text_tbody">
				<tr th:each=" order,state: ${orderPage}">
					<td>Mã đơn hàng</td>
					<td>Tên sản phẩm</td>
					<td>Ngày tạo đơn</td>
					<td>SDT</td>
					<td>Email</td>
					<td>Địa Chỉ</td>
					<td><label class="totalPrice_order">[[${#numbers.formatInteger(order.total, 0, 'POINT')}]] <sup>đ</sup></label></td>
					<td><label class="status_order"
							th:style="${order.status == 'Đã giao hàng' ? 'background-color: yellowgreen;' 
							: (order.status == 'Đang vận chuyển' ? 'background-color: hsl(35, 56%, 64%);' 
							: (order.status == 'Đã hủy' ? 'background-color: red;' 
							: (order.status == 'Đang chờ xác nhận' ? 'background-color: #dbde41;' : '')))}">
							[[${order.status}]]
						</label>
					</td>
					<th><a th:href="@{|/orderHistory/detail/${order.orderId}|}"
						class="btn btn-default" id="btn_detail_history"><i class="fa-solid fa-magnifying-glass-plus"></i>
						Xem chi tiết đơn
					</a></th>
				</tr>
			</tbody>
			</table>
			<div class="row" th:if="${!orderPage.hasContent()}">
				<div class="col mt-2 no-result">
					<img src="/assets/images/No_r.png" alt=""><br>
					<h5>Không tìm thấy kết quả nào</h5>
				</div>
			</div>
		</div>
		<form action="">
			<div class="form-inline float-left mt-3">
				<label class="mr-3 mt-3 mb-3" for="size">Kích thước: </label>
				<select name="size" id="size" onchange="this.form.submit()">
					<option th:selected="${orderPage.size == 5}" value="5">5</option>
					<option th:selected="${orderPage.size == 10}" value="10">10</option>
					<option th:selected="${orderPage.size == 15}" value="15">15</option>
					<option th:selected="${orderPage.size == 20}" value="20">20</option>
					<option th:selected="${orderPage.size == 30}" value="30">30</option>
				</select>
			</div>
		</form>
		<div aria-label="navigation"
			th:if="${orderPage.totalPages > 0}">
			<ul class="pagination">
				<li th:class="${1 == orderPage.number + 1} ? 'page-item active' : 'page-item'">
					<a th:href="@{/orderHistory/list(name=${name}, size=${orderPage.size}, page=${1})}"
					class="page-link">Đầu</a>
				</li>

				<li class="page-item active"
				th:each="pageNumber : ${pageNumbers}"
				th:if="${orderPage.totalPages > 1}"
				th:class="${pageNumber == orderPage.number + 1} ? 'page-item active' : 'page-item'">
				<a th:href="@{/orderHistory/list(name=${name}, size=${orderPage.size}, page=${pageNumber})}"
				class="page-link"
				th:text="${pageNumber}"></a>
				</li>

				<li th:class="${orderPage.totalPages == orderPage.number + 1} ? 'page-item active' : 'page-item'">
					<a th:href="@{/orderHistory/list(name=${name}, size=${orderPage.size}, page=${orderPage.totalPages})}"
					class="page-link">Cuối</a>
				</li>
			</ul>	
		</div>
		<!-- **************************************************************** -->
		<div class="row" th:if="${item == null or item.isEmpty()}">
			<div class="col mt-2 no-result">
				<img src="/assets/images/No_r.png" alt=""><br>
				<h5>Không tìm thấy kết quả nào</h5>
				<h4 style="color: #938484;">Có thể sản phẩm đã ngừng kinh doanh</h4>
			</div>
		</div>
			<hr>
        <h5>Xem thêm các sản phẩm khác: </h5>
        <div class="row">		
            <div th:each="item, itemIndex: ${item}" th:if="${itemIndex.index} &lt; 6" class="col-sm-2">
                <div class="card">
					<div class="card-body list-item">
						<div class="gif">
							<img th:src="@{|/assets/images/${item.hotSale}|}">
						</div>
						<a th:href="@{|/product/detail/${item.productId}|}"> 
							<img class="imgindex" th:src="@{|/assets/images/${item.image1}|}">
						</a>
					</div>
					<div class="card-footer">
						<a th:href="@{|/product/detail/${item.productId}|}" class="card-title">[(${item.name})] [(${item.radius})]</a>
						<div class="card-bottom">
							<div>
								<span class="price">[[${#numbers.formatInteger(item.unitPrice, 0,
									'POINT')}]] <sup>đ</sup>
								</span>
							</div>
							<div>
								<span class="old_price">[[${#numbers.formatInteger(item.oldPrice, 0,
									'POINT')}]] <sup>đ</sup>
								</span>
								<span class="discount">- [[${item.discount}]]%</span>
							</div>
						</div>
						<div class="card-bot">
							<div>
								<img th:src="|/assets/images/${item.image5}|">
							</div>
							<div class="icon__cart-like">
								<a th:attr="ng-click=@{|cart.add(${item.productId})|}">
									<i class="fa-solid fa-cart-shopping cart-shopping"></i></a> 
								<a th:href="@{|/favorite/save/${item.productId}|}">
									<i class="fa-regular fa-thumbs-up cart-shopping"></i></a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<div class="text-center mt-4 mb-4">
			<a th:href="@{|/|}" class="btn btn-success dropdown-toggle" id="btn_search">Xem thêm [[${totalItems} - 6]] sản phẩm</a>
		</div>
	</main>
</body>

</html>