<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(main)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link
            href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
            rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
            crossorigin="anonymous"></script>
    <!--  Angular -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <title>TechNetShop</title>
    <link rel="shortcut icon" href=/assets/images/logo_for_head.png/>
</head>

<body class="container-fluid" ng-app="shopping-cart-app"
      ng-controller="shopping-cart-ctrl">

<nav class="col-sm-12">
    <ul>
        <li class="mb-lg-2"><a th:href="@{/}"><img class="imgHome"
                                                   src="/assets/images/logo_1-removebg-preview.png" alt=""></a></li>
        <li>
            <form th:action="@{/}" class="nav-search">
                <input type="text" name="name" id="name" aria-describedby="helpId"
                       placeholder=" Bạn tìm gì...">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </li>
        <li>
            <a th:href="@{/cart/view}" class="cart-i a mr-2">
                <i class="fas fa-shopping-cart cart"></i>
                <label class="num">{{cart.count}}</label></a>
        </li>
        <li th:block th:if="${#request.remoteUser}">
            <a style="text-decoration: none;" th:href="@{/orderHistory/list}">
                <i class="fa-solid fa-clock-rotate-left icon"></i>
                <label >Lịch sử đơn hàng</label>
            </a>
        </li>


        <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
            <a style="text-decoration: none;" th:href="@{/admin/accounts/list}">
                <i class="fa-solid fa-lock-open icon"></i>
                <label >Quản trị</label></a>
        </li>
        <th:block th:unless="${#request.remoteUser}">
            <li class="nav-item"><a class="nav-link item"
                                    th:href="@{/security/login/form}">
                <i class="fa-solid fa-earth-americas icon"></i>
                <label >Đăng nhập</label></a>
            </li>
        </th:block>
        <th:block th:if="${#request.remoteUser}">
            <li>
                <div class="dropdown nav-item dropdown navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <a class="nav-item a"
                       data-toggle="dropdown" href=""><i class="fas fa-user fa-fw icon"></i>
                        <label class="nav-item dropdown-toggle">[[${#request.remoteUser}]]</label>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" id="btn_search" href="#!">
                            <i class="fa-solid fa-gear"></i> Cài đặt tài khoản</a>
                        <a class="dropdown-item" id="btn_search" th:href="@{|/info/${#request.remoteUser}|}">
                            <i class="fa-solid fa-circle-user"></i> Thông tin tài khoản</a>
                        <a class="dropdown-item" id="btn_search" th:href="@{/favorite}">
                            <i class="fa-brands fa-gratipay"></i> Sản phẩm yêu thích</a>
                        <a class="dropdown-item" id="btn_search" th:href="@{/forgot_password}">
                            <i class="fa-solid fa-pen-nib"></i> Đổi mật khẩu</a>
                        <hr class="dropdown-divider" />
                        <a class="dropdown-item"id="btn_search" th:href="@{/security/logoff}">
                            <i class="fa-solid fa-power-off"></i> Đăng xuất</a>
                    </div>
                </div>
            </li>
        </th:block>
    </ul>
</nav>
<section class="menu-bar">
    <div class="container">
        <div class="menu-bar-content">
            <ul>
                <li><a href="/product/list?cid=1">
                    <i class='fa fa-wifi'></i>
                    <lable>Router Wifi</lable>
                </a></li>
                <li><a href="/product/list?cid=2">
                    <i class='fa-solid fa-square-rss'></i> Wifi Mesh</a></li>
                <li><a href="/product/list?cid=3"><i class='fa fa-rss'></i> Bộ phát Wifi di động</a></li>
                <li><a href="/product/list?cid=4"><i class='fas fa-network-wired'></i>
                    <lable>Bộ chia mạng</lable>
                </a></li>
                <li><a href="/product/list?cid=5"><i class='fas fa-code-branch'></i>
                    <lable>Bộ mở rộng sóng</lable>
                </a></li>
                <li><a href="/product/list?cid=6"><i class="fab fa-usb"></i>
                    <lable>USB Wifi</lable>
                </a></li>
            </ul>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-8 slide-left">
        <div class="w3-content w3-section">
            <img class="mySlides w3-animate-left slide"
                 src="/assets/images/bannerSale.jpg">
            <img class="mySlides w3-animate-left slide"
                 src="/assets/images/slide_banner1.png">
            <img class="mySlides w3-animate-left slide"
                 src="/assets/images/img-sale5.png">
        </div>
    </div>
    <div class="col-sm-4 slide-right">
        <img src="/assets/images/img-sale8.png" alt="" class="m mb-1 mt-3">
        <img src="/assets/images/img-sale8.png" alt="" class="m">
    </div>
</div>


<!--           main             -->
<div class="row mt-4">
    <div class="col">
        <div th:replace="${main}"></div>
    </div>
</div>
<hr>
<hr>
<footer class="ml-3">
    <div>
        <h2 class="ShopNow-footer-section__heading">
				<span style="font-size: 12px"><span
                        style="font-family: Roboto, sans-serif"><span
                        style="color: #000000"><b>TechNetShop - Mua sắm thiết bị mạng trực tuyến đơn giản,
                    nhanh chóng và an toàn</b></span></span></span>
        </h2>
        <p class="ShopNow-footer-section__content">
				<span style="font-size: 12px"><span
                        style="font-family: Roboto, sans-serif"><span
                        style="color: #000000">Nếu bạn đang tìm kiếm một cửa hàng trực tuyến để mua sắm
                    các thiết bị mạng thì TechNetShop là sự lựa chọn hoàn hảo dành cho bạn.
                    Với phương châm đơn giản và tiện lợi, TechNetShop sẽ giúp bạn tiết kiệm
                    thời gian và tiền bạc khi mua sắm. Với nền tảng trang web thương mại điện
                    tử tiên tiến, bạn có thể dễ dàng tìm kiếm sản phẩm và tìm hiểu thông tin
                    về chúng. Chúng tôi cam kết cung cấp cho bạn các sản phẩm chính hãng, chất
                    lượng với giá cả hợp lý.
					</span></span><u><a style="color: inherit" href=""><span
                        style="font-family: Roboto, sans-serif"><b><u>TechNetShop Mall</u></b></span></a></u><span
                        style="font-family: Roboto, sans-serif"><span
                        style="color: #000000"> là nơi bạn có thể tìm thấy các sản phẩm chính hãng từ các
                    thương hiệu nổi tiếng như Cisco, Huawei, TP-Link, Netgear và nhiều hãng khác.
                    Để giúp bạn hiểu rõ hơn về sản phẩm và sử dụng chúng hiệu quả,
					</span></span><u><a style="color: inherit" href=""><span
                        style="font-family: Roboto, sans-serif"><b><u>TechNetShop Blog</u></b></span></a></u><span
                        style="font-family: Roboto, sans-serif"><u><a
                        style="color: inherit" href=""> - <b>trang
									blog thông tin chính thức của TechNetShop</b></a></u><span
                        style="color: #000000"> Sẽ giúp bạn có thể tìm được cho
							mình các kiến thức về xu hướng thời trang, review công nghệ, mẹo
							làm đẹp, tin tức tiêu dùng và deal giá tốt bất ngờ.</span></span></span>
        <hr>
        <span style="font-size: 12px"><b>MUA HÀNG CHÍNH HÃNG TỪ CÁC THƯƠNG HIỆU LỚN VỚI TechNetShop</b><br>
								Mua sắm thiết bị mạng trên TechNetShop sẽ mang đến cho bạn một
            trải nghiệm mua sắm online tuyệt vời. Với đa dạng các sản phẩm chính hãng từ các thương hiệu hàng đầu thế giới, bạn có thể yên tâm tìm thấy những sản phẩm ưng ý
            cho mình. TechNetShop cam kết đảm bảo tính bảo mật cho cả người bán và người mua,
            cùng với các hoạt động giao dịch thanh toán nhanh chóng, an toàn. Tất cả các sản
            phẩm trên TechNetShop đều là chính hãng, đầy đủ tem nhãn và bảo hành từ nhà bán hàng.
            Bên cạnh đó, khi mua sắm trên TechNetShop, bạn còn được miễn phí vận chuyển, giao hàng
            tận nơi và 7 ngày miễn phí trả hàng. TechNetShop còn mang đến cho bạn các ưu đãi độc quyền
            từ các chương trình thành viên như TechNet Club, TechNet Beauty Club, và TechNet Book Club,
            với nhiều quà tặng hấp dẫn. Truy cập ngay vào trang web của TechNetShop hoặc tải ngay ứng
            dụng để khám phá và trải nghiệm mua sắm tuyệt vời ngay hôm nay!</span>
        <hr>
        <span><h2>TechNetShop Affiliate Program</h2><br>
									<b>Thông tin liên lạc</b> <br>
									Địa chỉ: 209/1 Cây Trâm, phường 8, quận Gò Vấp, TP.HCM <br>
									Tổng đài: 1900 1221 <br>
									Email: vivinhdev@gmail.com</span>
        <hr>
        <img>Theo dõi TechNetSHop Affiliate Program tại <a href="https://www.facebook.com/taimatroioi"><img
            src="/assets/images/fb1.png"></a></h4>
        </p>
    </div>
    <div style="float: right;" class="mb-3">TechNetShop &copy;2023.All rights
        reserved.
    </div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Icon  -->
<script src="/assets/js/all.min.js"></script>
<script src="/assets/js/shopping-cart-app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<!-- slide-banner -->
<script src="/assets/js/slide-banner.js"></script>
<script src="/assets/js/index.js"></script>
<script src="https://sp.zalo.me/plugins/sdk.js"></script>
</body>

</html>