<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
	<main>
		<div class="container col-md-6 mx-auto mt-3">
			<div>
				<p class="fs-4 text-center text-justify"><i class="fa-solid fa-pen-to-square"></i> [[#{user.title}]]</p>
			</div>
			<form action="/user/feedback/save" method="post"
				th:object="${Feedback}">
				<div class="input-group">
					<textarea name="description" class="form-control" rows="5" required
						placeholder="Mô tả"></textarea>
				</div>
				<div class="float-left message" th:if="${message != null}"
					role="alert">
					<i>[[${message}]]</i>
				</div>
				<br />
				<div>
					<button class="btn btn-danger" style="width: 80px">[[#{mail.send}]]</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>