<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="/assets/css/login-css.css">
    <title>ShopNow</title>
    <link rel="shortcut icon" href=/assets/images/img_logoHome.png/>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form th:action="@{/forgot_password}" method="post">
                    <h2><i class="fa-solid fa-pen-to-square"></i> Khôi phục mật khẩu</h3></h2>
                    <span class="small">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.</span>
                    <div class="inputbox-f">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="email" id="inputEmail" type="email" required />
                        <label for="">Email</label>
                    </div>
                    <div th:if="${message != null}" class="message" role="alert"> 
                        <i>[[${message}]]</i>
                    </div>
                    <button type="submit" class="button-f">Log in</button>
                    
                </form>
                <label class="card-bottom">
                    <a class="nav-link item" th:href="@{/security/login/form}">
                        <i class="fa-solid fa-earth-americas"></i> Trở lại đăng nhập</a>
                    <a th:href="@{/security/register}">Chưa có tài khoản? Đăng kí!</a>
                </label>
                
            </div>
        </div>
    </section>
    <script src="/assets/js/all.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>