<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="/assets/css/login-css.css">
    <title>ShopNow</title>
    <link rel="shortcut icon" href=/assets/images/img_logoHome.png/>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form th:action="@{/reset_password}" method="post">
                    <input type="hidden" name="token" th:value="${token}" />
                    <h2>Reset Password</h2>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" minlength="6" required>
                        <label for="">New Password</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" oninput="checkPasswordMatch(this);" required>
                        <label for="">ConfirmPassword</label>
                    </div>
                    <div class="message" th:text="${message}"></div>
                    <button type="submit">Update</button>
                    <div class="register">
                        <p>Do you have a account <a th:href="@{/security/login/form}">Login</a></p>
                    </div>
                </form>
                <script>
                    function checkPasswordMatch(fieldConfirmPassword) {
                        if (fieldConfirmPassword.value != $("#password").val()) {
                            fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
                        } else {
                            fieldConfirmPassword.setCustomValidity("");
                        }
                    }
                </script>
            </div>
        </div>
    </section>
    <script src="/assets/js/all.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>