
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">

<body>
	<main>
		<div class="container" style="margin-top: 10px;">
			<div class="row"
				style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
				<div class="col-sm-12">
					<h2 style="text-align: center;"><label><i class="fa-solid fa-circle-info"></i> [[#{mail.title}]]</label></h2>
					<div th:if="${message != null}" class="alert alert-primary"
						role="alert"> 
					<i>[[${message}]]</i>
				</div>
					<form action="/admin/accounts/send-mail" method="post">
						<div class="form-group">
							<label>[[#{mail.to}]]:</label> 
							<input type="email" required
								class="form-control" name="to" placeholder="Enter Email">
						</div>
						<div class="form-group">
							<label>[[#{mail.sub}]]:</label>
							<input type="text"
							class="form-control" required name="subject" placeholder="Enter Subject">
						</div>
						<div class="form-group">
							<label>[[#{mail.content}]]:</label>
							<textarea class="form-control" required rows="3"  name="content"></textarea>
						</div>
						<div class="btn-mail-bottom">
							<button type="submit" class="btn btn-primary mr-3">
								<i class="fa-solid fa-envelope"></i> Send
							</button>
							<button type="reset" class="btn btn-primary">
								<i class="fa-solid fa-ban"></i> Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>	
</body>
</html>
