<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">
<body>
<main>
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <h3><i class="fa-solid fa-list"></i> Danh sách sản phẩm</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label class="float-left">Tất cả: <b>[[${totalSize}]]</b> sản phẩm</label>
                        <form th:action="@{/admin/product/list}">
                            <div class="form-inline float-right">
                                <input type="text" class="form-control" name="name" id="name"
                                       aria-describedby="helpId" placeholder="Tên sản phẩm">
                                <button class="btn btn-outline-primary ml-2">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div th:if="${message != null}" class="alert alert-primary"
                     role="alert">
                    <i>[[${message}]]</i>
                </div>
                <table class="table table-hover">
                    <thead class="bg-light ">
                    <tr>
                        <th>ID</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Giảm</th>
                        <th>Hình ảnh</th>
                        <th>Loại hàng</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item: ${productPage.content}">
                        <td>[[${item.productId}]]</td>
                        <td>[[${item.name}]]</td>
                        <td class="price_product">
                            <div class="new_price">[[${#numbers.formatInteger(item.unitPrice, 0 , 'DEFAULT')}]]
                                <sup>đ</sup></div>
                            <div class="old_price">[[${#numbers.formatInteger(item.oldPrice, 0 , 'DEFAULT')}]]
                                <sup>đ</sup></div>
                        </td>
                        <td>[[${item.quantity}]]</td>
                        <td class="discount">-[[${item.discount}]]%</td>
                        <td>
                            <img th:src="@{|/assets/images/${item.image1}|}" class="img_product_list">
                        </td>
                        <td th:utext="${item.category.name}"></td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-warning mr-2"
                                   th:href="@{'/admin/product/edit/' + ${item.productId}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" th:data-id="${item.productId}"
                                   th:data-name="${item.name}"
                                   onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                    <script>
                        function showConfirmModalDialog(id, name) {
                            $('#productName').text(name);
                            $('#yesOption').attr('href',
                                '/admin/product/delete/' + id);
                            $('#noOption').attr('href', '/admin/product');
                            $('#confirmationId').modal('show');
                        }
                    </script>
                    <div class="modal fade" id="confirmationId" tabindex="-1"
                         role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Xác nhận</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có muốn xóa "<span id="productName"></span>"?
                                </div>
                                <div class="modal-footer">
                                    <a id="yesOption" type="button"
                                       class="btn btn-success">Đồng ý
                                    </a>
                                    <a id="noOption" type="button" class="btn btn-danger"
                                       data-dismiss="modal">Hủy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
                <div class="row" th:if="${!productPage.hasContent()}">
                    <div class="col mt-2 no-result">
                        <img src="/assets/images/No_r.png" alt=""><br>
                        <h5>Không tìm thấy kết quả nào</h5>
                        <h4 style="color: #938484;">Hãy thử sử dụng các từ khóa chung chung hơn</h4>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <form action="">
                        <div class="form-inline float-left">
                            <label class="mr-3" for="size">Kích thước: </label>
                            <select name="size" id="size"
                                    onchange="this.form.submit()">
                                <option th:selected="${productPage.size == 5}" value="5">5</option>
                                <option th:selected="${productPage.size == 10}" value="10">10</option>
                                <option th:selected="${productPage.size == 15}" value="15">15</option>
                                <option th:selected="${productPage.size == 20}" value="20">20</option>
                                <option th:selected="${productPage.size == 30}" value="30">30</option>
                            </select>
                        </div>
                    </form>
                    <nav aria-label="Page navigation"
                         th:if="${productPage.totalPages > 0}">
                        <ul class="pagination justify-content-center">
                            <li th:class="${1 == productPage.number + 1} ? 'page-item active' : 'page-item'">
                                <a th:href="@{/admin/product/list(name=${name}, size=${productPage.size}, page=${1})}"
                                   class="page-link">Đầu</a>
                            </li>

                            <li class="page-item active"
                                th:each="pageNumber : ${pageNumbers}"
                                th:if="${productPage.totalPages > 1}"
                                th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
                                <a th:href="@{/admin/product/list(name=${name}, size=${productPage.size}, page=${pageNumber})}"
                                   class="page-link"
                                   th:text="${pageNumber}"></a>
                            </li>

                            <li th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item active' : 'page-item'">
                                <a th:href="@{/admin/product/list(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
                                   class="page-link">Cuối</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>