<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/admin/dist/fragment :: dynamic(~{::main})}">
 <body>
    <main>
		<section class="row">
			<div class="col-6 offset-3 mt-3 mb-3">
				<form th:action="@{/admin/categories/saveOrUpdate}" method="post"
					th:object="${category}">
					<div class="card">
						<div class="card-header">
							<h2><i class="fa-solid fa-pen-to-square"></i> [[${category.isEdit ? 'Chỉnh sửa loại hàng' : 'Thêm mới loại hàng'}]]</h2>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryId">Mã loại hàng:</label> <input type="text"
									class="form-control" aria-describedby="categoryIdHid"
									th:field="*{categoryId}" placeholder="Category ID" readonly>
							</div>
							<div class="form-group">
								<label for="name">Tên:</label> <input type="text"
									class="form-control" id="name" aria-describedby="nameHid" required
									th:field="*{name}" name="name" placeholder="Category Name">
							</div>
						</div>
						<div class="card-footer text-muted">
							<a th:href="@{/admin/categories/add}" type="reset" class="btn btn-secondary">
								<i class="fa-solid fa-plus"></i> Làm mới</a>
							<a th:href="@{/admin/categories}" class="btn btn-success">
								<i class="fa-solid fa-list"></i> Danh sách loại hàng</a>
							<button class="btn btn-primary">
								<i class="fas fa-save"></i> 
								<span th:if="${category.isEdit}">Cập nhật</span>
								<span th:unless="${category.isEdit}">Lưu</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
  </body>
</html>